{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>signin</h3>

    <form action="/signin" method="post">
    {% csrf_token %}
        
        <label for="username">Username</label>
        <input type="text" id="username" name="username" placeholder="enter your username"style="color: black;"required>
    </br>

        <label for="username">password</label>
        <input type="password" id="pass1" name="pass1" placeholder="enter your password" style="color: black;" required>
    </br>


        <button type="submit" style="color: black;">Sign in</button>
    </form>

</body>
</html>
{% endblock %}