{%load static %}

<html lang="">
<!-- To declare your language - read more here: https://www.w3.org/International/questions/qa-html-language-declarations -->
<head>
<title>Sislaf</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="{% static 'pr/layout/styles/layout.css' %}" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- Top Background Image Wrapper -->
<div class="bgded overlay" style="background-image:URL ({% static 'pr/images/demo/backgrounds/bg.jpg' %});">
  <!-- ################################################################################################ -->
  <div class="wrapper row0">
    <div id="topbar" class="hoc clear">
       

      
    </div>
  </div>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div class="wrapper row1">
    <header id="header" class="hoc clear">
      <div id="logo" class="fl_left">
        <!-- ################################################################################################ -->
        <h1><a href="/">foodizo</a></h1>
        <!-- ################################################################################################ -->
      </div>
      <nav id="mainav" class="fl_right">
        <!-- ################################################################################################ -->
        <ul class="clear">
         
        {% for message in messages %}
          <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
          <strong>Message:</strong>{{message}}
           <button type="button" class="close" data-dismiss="alert" aria-label="Close">
           <span aria-hidden="true">&times;</span></button>
          </div>
        {% endfor %}
          <li class="active"><a href="/">Home</a></li>
          <li class="active"><a href="{% url 'cartDetails' %}">cart</a></li>
          
  {% if user.is_authenticated %}
    <h3>hello {{ fname }}</h3>
    <h4>you are successfully logged in</h4>
    <li class="active"><a href="/signout">signout</a></li>
        {% else %}
          <li class="active"><a href="/signup">signup</a></li>
          <li class="active"><a href="/signin">signin</a></li>
        {% endif %}  
          <li><a class="drop" href="#">filter</a>

        <ul>
           <li><a href="/">level 2</a></li>
           <li><a class="drop" href="#">level 2 + drop</a></li>
           <ul>
              <li><a href="#">level 3</a></li>
              <li><a href="#">level 3</a></li>
              <li><a href="#">level 3</a></li>
           </ul>
          </li>
        </ul>
        <!-- ################################################################################################ -->
      </nav>
    </header>
  </div>
  {%block content %}
  {%endblock%}
</body>
</html>